<mat-card>
    <div class="box mat-elevation-z4">
        <table class=" table table-striped">
            <mat-card-title>Hi {{firstname}}, here is your joke of the day:</mat-card-title>
            <mat-card-subtitle>( Brought to you by: geek-joke-api )</mat-card-subtitle>
            <tr>
                <td style="color: #3563f1">{{jokeText}}</td>

            </tr>
        </table>
        <br/>
    </div>
</mat-card>
<mat-card>
    <button mat-raised-button matTooltip="click to update jokes"
            (click)="getRandomQuote()">Refresh
    </button>
</mat-card>
<mat-card>
    <div class="box mat-elevation-z4">
        <table class="GeneralInfoTable table table-striped">
            <tbody>
            <br/> <br/>
            <tr>
                <th>First Name: </th>
                <td>{{firstname}}</td>
            </tr>
            <tr>
                <th>Last Name: </th>
                <td>{{lastname}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{email}}</td>
            </tr> <br/> <br/>
            </tbody>
        </table>
    </div>
</mat-card>

<mat-card>
    <button mat-raised-button matTooltip="click to update personal info" >Update
    </button>
    <div class="box mat-elevation-z4">
        <table class="PersonalInfoTable table table-striped">
            <br/> <br/>
            <tr>
                <th>Date of Birth: </th>
                <td>xxxxxxxx</td>
            </tr>
            <tr>
                <th>Contact Number: </th>
                <td>xxxxxxxx</td>
            </tr>
            <tr>
                <th>Address: </th>
                <td>xxxxxxxx</td>
            </tr>
            <br/> <br/>
        </table>
    </div>
</mat-card>

<mat-card>
    <button mat-raised-button matTooltip="click to update info">Update
    </button>
</mat-card>
